doctype html
html
    head
        title Login to Goolge Drive
        include head.pug

    body
        .container
            .jumbotron.text-center
                p Login or Register
                a.btn.btn-danger(href= authUrl)
                    span Google Drive