doctype html
html
    head
        title myTunes
        include head.pug

    body
        .container(align="center")
            audio#player(controls)
            #content(align="left")
                .searchForm(align="center")
                    form#queryForm
                        input#query.form-control.search(placeholder="Search", type="search")
                .text-center
                    ul.pagination.pagination-sm
                ul#results.list-group.list
            #templates
                script#result-template(type="text/x-handlebars-template")
                    li.list-group-item.item-details
                        p#track-title.searchSrc1 {{this.title}}
                        p#track-details.searchSrc2 {{this.albumartist}} -- {{this.album}}
                        dl.dl-horizontal.hidden
                            dd
                                .btn-group.btn-group-sm(role="group")
                                    button#play.btn.btn-default(type="button", data-path="{{this.path}}") Play
                                    button#pause.btn.btn-default(type="button") Pause
                            dt Track
                            dd {{this.track}}/{{this.tracktotal}}
                            dt Format
                            dd {{this.format}}
                            dt Length
                            dd {{this.length}}
                            dt Bitrate
                            dd {{this.bitrate}} kbps
                            dt File
                            dd 
                                a#download(href="/downloadItem?id={{this.path}}", data-path="{{this.path}}") download
                                a#downloadHidden.hidden
                            | {{#if this.mb_trackid}}
                            dt MusicBrainz entry
                            dd 
                                a.download(target="_blank", href="https://musicbrainz.org/recording/{{this.mb_trackid}}") view
                            | {{/if}}
                            | {{#if this.lyrics}}
                            dd#lyrics {{this.lyrics}}
                            | {{/if}}